<div class="container">
  <p id="notice"><%= notice %></p>

   <h3><%= @food.name %></h3>
     <h5>Menu: <%= @food.menu.name %></h5> 
     <h5>Precio de Porción: <%= @food.price %></h5> 

   <div class="row">
      <div class="col">
        <h4>Ingredientes: <%= @food.ingredients.count %></h4>
        <table class="table">
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Ingrediente</th>
              <th>Precio</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <div id="ingredientes">      
              <%= render @food.ingredients %>      
            </div>
          </tbody>
        </table>
        <div>
          <%= render 'ingredients/form' %>
        </div>
      </div>
      <div class="col">
        <h4>Receta</h4>
          <%= @food.description %>
      </div>
    </div> 

</div>